.form-container {
	background-color: white;
	margin: 9rem auto;
	padding: 10rem 3rem;
	position: relative;
	width: 40%;
	border-radius: 1rem;
	box-shadow: 0 0 5em rgb(121, 136, 147);
}
.inline-form-card , .label-full{
	margin-top: 1rem;
}
.button-buy{
	width: 100%;
	border:none;
	border-radius: 0.4rem;
	color:white;
	background-color: #48AC98;
	height: 2.5rem;
	font-size: 1rem;
}
@media (max-width: 630px) {
	.form-container{
		width: 80%;
	}
}